<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop</title>
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/img/basket.svg') }}" rel="icon" type="image/x-icon">

    {% endblock %}
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
            <svg class="bi me-2" height="32" width="40">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Online shop</span>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 link-secondary" href="{{ url_for('main_page') }}">Home</a></li>
            <li><a class="nav-link px-2" href="{{ url_for('products') }}">Products</a></li>
            <li><a class="nav-link px-2" href="{{ url_for('about') }}">About</a></li>
            <li><a class="nav-link px-2" href="{{ url_for('shopping_cart') }}"><img
                    src="static/assets/img/cart.png"></a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2" href="{{ url_for('login') }}" type="button">Login</a>
            <a class="btn btn-primary" href="{{ url_for('signup') }}" type="button">Sign-up</a>
        </div>
    </header>
</div>