{% include "header.html" %}
<!-- TODO: Place your shop description here. -->
<div class="px-4 py-5 my-5 text-center">
    <img alt="" class="d-block mx-auto mb-4" height="57" src="/docs/5.3/assets/brand/bootstrap-logo.svg" width="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Lorem ipsum</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Sollicitudin ac orci phasellus egestas tellus. Sed viverra ipsum nunc aliquet bibendum
            enim facilisis. Ornare aenean euismod elementum nisi. Proin sagittis nisl rhoncus mattis rhoncus urna neque
            viverra justo. Dolor sit amet consectetur adipiscing elit pellentesque.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-primary btn-lg px-4 gap-3" type="button">Primary button</button>
            <button class="btn btn-outline-secondary btn-lg px-4" type="button">Secondary</button>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img alt="Bootstrap Themes" class="d-block mx-lg-auto img-fluid" height="500" loading="lazy"
                 src="bootstrap-themes.png" width="700">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Dictumst quisque</h1>
            <p class="lead">sagittis purus sit amet volutpat consequat. Morbi enim nunc faucibus a pellentesque sit amet
                porttitor eget. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Venenatis urna cursus
                eget nunc scelerisque viverra mauris. Elit pellentesque habitant morbi tristique senectus et netus et.
                Nunc aliquet bibendum enim facilisis gravida neque convallis a cras.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-primary btn-lg px-4 me-md-2" type="button">Primary</button>
                <button class="btn btn-outline-secondary btn-lg px-4" type="button">Default</button>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}